/* Impostazioni generali */
html {
    font-size: 16px;
    position: page;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

body {
    background-color: #3f4e63;
    color: azure;
    min-height: 100vh;
    margin: 0;
    font-family: "Fira Code Medium", sans-serif;
}

h1{
    margin:0 0 0 20px;
}

/* Imposta il contenuto principale a destra della sidebar */
.main-content {
    margin-left: 100px; /* Lascia spazio per la sidebar */
    padding: 20px; /* Aggiungi padding per il contenuto */
    background-color: inherit; /* Mantiene il colore di sfondo del body */
    min-height: 100vh; /* Assicura che il contenuto riempia la pagina */
    box-sizing: border-box;
    min-width: 95%;
}

/* Stile per la sidebar */
.container-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-text{
    font-size: 24px;
    font-family: Korataki, Arial, Helvetica, sans-serif;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    text-align: center;
}

.sidebar-title {
    font-family: Korataki, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin:20px;
}

.logo {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin:20px;
}

.machine-passport {
    font-size: 14px;
    font-family: Korataki, Arial, Helvetica, sans-serif;
    display: block;
    margin-top: 5px;
}

.nav {
    flex-grow: 1;
    padding-top: 20px;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .nav-link.active {
        background-color: #555;
    }

    .nav-link:hover {
        background-color: #444;
    }

.sidebar-user {
    padding: 20px;
    border-top: 1px solid #444;
}

    .sidebar-user img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .sidebar-user span {
        font-size: 16px;
        font-weight: bold;
    }



/* Pulsanti tabella DPP */
.btn-TableDpp {
    display:flow ;
    margin: 5px !important;
}

/* Stile per pulsanti generali */
.btn {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: max-content;
}

    .btn:hover {
        background-color: #0056b3;
    }

.btnCreateNew {
    background-color:#379a0d;
}

.btnDashboard {
    background-color:#007bff;
}

.btnUpdate {
    background-color:#ff6a00;

}

.btnDelete {
    background-color:#ff0000;
}

.btnLogout {
    background-color:#495057;
}

/* Stile per i form */
.form-group {
    margin-bottom: 15px;
    background-color: #2F3530;
    border-radius: 4px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #282b30;
    border-radius: 4px;
}

/*Form create dpp*/
.modalDpp-header, .modalDpp-body, .modalDpp, .modalUser-header, .modalUser-body {
    background-color: #454d55;
    color: #258cfb;
}


/* Stile per la pagina di login */
.container-login {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #258cfb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #282b30;
}

/* Stile per la tabella */
.table-dark {
    background-color: #343a40;
    color: #fff;
    margin: 5px;
    text-align:center;
    
}

.table-dark thead th {
    background-color: #454d55;
    color: rgb(0, 148, 255);
    cursor: pointer;
}

.table-dark th:hover {
    background-color:#282b30;
}

.table-dark tbody tr:nth-of-type(odd) {
    background-color: #495057;
}

.table-dark tbody tr:nth-of-type(even) {
    background-color: #343a40;
}

.table-dark .btn {
    margin: 0 5px;
}


